@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-kaushan-script: "Kaushan Script";
  --font-caladea: Caladea;
  --font-inter: Inter;

  /* font sizes */
  --font-size-41xl: 60px;
  --font-size-11xl: 24px;
  --font-size-5xl: 24px;

  /* Colors */
  --color-black: #000;
  --color-white: #fff;
  --color-darkslategray-100: #313030;
  --color-darkslategray-200: #2f2f2f;
  --color-gainsboro: rgba(217, 217, 217, 0.33);


  /* Gaps */
  --gap-3xs: 10px;

  /* Paddings */
  --padding-21xl: 40px;
  --padding-3xs: 10px;
}
